<form action="/ticket/make" method="GET">
    <input type="text" name="title" value="여기에 머리말을 입력해주세요"><br>
    <input type="text" name="img_url" value="올릴 이미지의  url을 입력해주세요">
    <input type="submit" value="완성">
</form>