<div style="
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-image: url(http://ironsummitmedia.github.io/startbootstrap-creative/img/header.jpg);
    background-position: center;
    background-size: cover;
">
  <div class="header-content"  style="position:relative;top: 30%;">
    <div class="header-content-inner">
      <h1 style="font-size: 65px;">여러분만의 티켓을 만들어 보세요</h1>
      <hr>
      <p>티켓트리는 누구나 쉽게 티켓을 만들어 다른 사람들에게 나눠줄 수 있게 해주는 서비스 입니다. 아래 만들기 버튼을 눌러 티켓의 이름과 사진을 넣고 카카오 톡으로 뿌려보세요!</p>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        티켓 만들기
      </button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <font color="black"><h4 class="modal-title"  id="myModalLabel">티켓 만들기</h4></font>
            </div>
            <div class="modal-body">
              <form action="/ticket/make" method="GET">
                <div class="form-group">
                  <input type="text" class="form-control" name="title" placeholder="여기에 머리말을 입력해주세요">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="img_url" placeholder="이미지  url을 입력해주세요">
                </div>
                <button type="submit" class="btn btn-primary">완성</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




